<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {

    function setBackgroundImage(imageUrl) {
      const maxWidth = 1500;
      const viewportWidth = window.innerWidth;

      const backgroundSize = viewportWidth > maxWidth ? maxWidth + 'px auto' : 'cover';

      document.body.style.backgroundImage = 'url(' + imageUrl + ')';
      document.body.style.backgroundSize = backgroundSize;
      document.body.style.backgroundPosition = 'center';
      document.body.style.backgroundRepeat = 'no-repeat';
    }

    var imageUrl = "{{ post.image | default: page.image }}";
    var imageSize = "{{ post.image-size | default: page.image-size | default: 'cover' }}";
    var postTitle = '{{ post.title | default: page.title }}';
    if (imageUrl) {
      if (imageSize === 'cover') {

        setBackgroundImage(imageUrl);

        window.addEventListener('resize', function() {
            setBackgroundImage(imageUrl);
        });

        var img = new Image();
        img.src = imageUrl;
        img.onload = function() {
          var colorThief = new ColorThief();
          var dominantColor = colorThief.getColor(img);
          var r = dominantColor[0];
          var g = dominantColor[1];
          var b = dominantColor[2];
          var luminance = (0.299 * r + 0.587 * g + 0.114 * b) / 255;
          var textColor = (luminance > 0.5) ? '#000000' : '#FFFFFF';
          var backgroundFill = `rgb(${r}, ${g}, ${b}, 0.5)`;

          document.body.style.color = textColor;
          document.querySelectorAll('.text-contrast').forEach(function(element) {
            element.style.color = textColor;
          });

          document.querySelectorAll('.area-contrast').forEach(function(element) {
            element.style.backgroundColor = backgroundFill;
          });

          document.body.style.backgroundColor = backgroundFill;
        };

      } else if (imageSize === 'contain') {
        var contentElement = document.querySelector('.post-content');

        if (contentElement) {
          var imgElement = document.createElement('img');
          imgElement.src = imageUrl;
          imgElement.alt = postTitle;
          imgElement.style.display = 'block';
          imgElement.style.margin = 'auto'; // Center the image
          contentElement.insertBefore(imgElement, contentElement.firstChild);
        }
      }
    }
  });
</script>