<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="layout layout--{{ page.layout | default: 'default' }}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper wrapper--full-viewport-height">
          {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {% if page.image %}
      {%- include image-post.html -%}
    {% endif %}

  </body>

</html>
